# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Environment variables
.env

# Python virtual environment
venv/
env/

# Database files
*.db

# Logs and debug output
*.log

# Migrations
migrations/

# IDE and editor specific files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Alembic
alembic.ini

# Static files (generated or temporary assets)
staticfiles/
